// COLORS
$color-black-light: #292929;
$color-grey-light: #a9a9a9;
$color-white: #ffffff;
$color-green: #77ca01;
$color-green-light: #82dc00;
$color-blue: #5bc5fa;
$color-blue-light: #79d2fe;
$color-orange: #fdbd39;
$color-orange-light: #ffda00;
$color-red: #ff4847;
$color-red-light: #ff6261;

$color-dark: #292929;
$color-dark-grey-asphalt: #5d5f61;
$color-dark-grey-stone: #828589;
$color-dark-grey-sky: #a9a9a9;
$color-light-grey-steel: #cecece;
$color-light-grey-hoar: #e6e6e6;
$color-light-grey-silver: #f3f3f3;
$color-light-grey-mirror: #f8f8f8;

$color-purple: #dfdcf3;
$color-sky: #e0f0ff;
$color-peach: #ffe8c5;
$color-ground: #ebddc9;
$color-squash: #f8f3b8;
$color-lilac: #fbdfeb;
$color-rose: #ffeaea;
$color-stone: #dfdfdf;
$color-apple: #e4fbb7;
$color-forest: #c8f2d1;